<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="assets/lib/bootstrap-336/css/bootstrap.min.css" rel="stylesheet" />
    <script src="app/controllers/Kantroller.js"></script>
    <link href="assets/css/card-style.css" rel="stylesheet" />
    <link href="assets/css/inkana-style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    <script type="text/javascript" src="http://beneposto.pl/jqueryrotate/js/jQueryRotateCompressed.js"></script>
  </head>
  <body ng-app="Inkana" ng-controller="Kan-troller">
    <div class="jumbotron">
      <img id="logo" src="assets/img/inkana.png">
      <br />
      <script src="assets/js/Malamar.js"></script>
      <h1 id="inkana" ng-mouseover="hoverTitle()" ng-mouseleave="leaveTitle()">{{ inkanaHeader }}</h1>
    </div>
    <div class="main">
      <div class="container">
        <div class="card-area">
          <div id="card"> 
            <div class="front"> 
              <p class="kan-text">{{ testChar }}</p>
            </div> 
            <div class="back">
              <p class="kan-text">{{ testChar }}</p>
              <p class="romaji-text">{{ testRom }}</p>
            </div> 
            <script>$("#card").flip({trigger: 'hover'});</script>
          </div>
          <div id="kana-toggle"" class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary kana-btn" ng-click="setHiragana()">
              <input type="radio" name="options" id="hiraButton" autocomplete="off">Hiragana
            </label>
            <label class="btn btn-primary kana-btn" ng-click="setKatakana()">
              <input type="radio" name="options" id="kataButton" autocomplete="off">Katakana
            </label>
          </div>
          <button type="button" id="next" ng-click="nextChar()" class="btn btn-primary" autocomplete="off">
            <p class="next-text">Next</p>
          </button>
        </div>
      </div>
    </div>
    <div class="spacer-L"></div>
  </body>
</html> 