#card {
    border: 2px solid #222;
    margin: 0 auto;
    height: 400px;
    width: 250px;
}

.front, .back {
    padding: 5px;
    text-align: center;
}

#next {
    background-color: #0cf;
    height: 60px;
    width: 250px;
    margin: 9px auto 0 auto;
    text-align: center;
}

.next-text {
    color: #fff;
    font-size: 32px;
    padding-top: 6px;
}

.kan-text {
    font-size: 192px;
}

.romaji-text {
    font-size: 48px;
}