#card {
  border: 2px solid #222;
  margin: 0 auto;
  height: 400px;
  width: 100%;
}

.front, .back {
  padding: 5px;
  text-align: center;
}

#kana-toggle {
  border-radius: 0;
  margin: 4px auto 0 auto;
  width: 100%;
}

.kana-btn {
  background-color: #0cf;
  border-radius: 0;
  border-width: 0;
  width: 50%
}

#next {
  background-color: #0cf;
  border-radius: 0;
  border-width: 0;
  height: 60px;
  width: 100%;
  margin: 4px auto 0 auto;
  text-align: center;
}

.card-area {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.next-text {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}

.kan-text {
  font-size: 192px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.romaji-text {
  font-size: 48px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}